@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header, .footer {
    background-color: #1F2937;
    padding: 16px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.footer-text {
    color: #F9FAF8;
}

button, .callToAction {
    background-color: #3882F6;
}

.informationHeader {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}


.header, .content, .footer {
    display: flex; 
}

.header {
    justify-content: space-between;
}

.content {
    flex-direction: column;
}

.logo > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 8px;
}

.logo, .right-links {
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.right-links {
    list-style: none;
    flex: right;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer {
    justify-content: center;
    border-color: red;
}

.header, .main, .quoteContent, .footer {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 10%;
    padding-right: 10%;
}

.main {
    display: flex;
    background-color: #1F2937;
}

.flexleft, .flexright {
    flex: 1;
    padding: 32px;
}

.flexleft {
    flex-direction: column;
    gap: 8px;
}

button {
    border-radius: 8px;
    padding: 8px 32px;
    color:#E5E7EB;
    margin: 8px 0px;
}

.flexright {
    display: flex;
    background-color: grey;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.subcontent {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-align {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
}

.data-text {
    font-size: 16px;
    padding: 8px;
}

.informationHeader {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.content-data > img {
    max-width: 100%;
    border-radius: 25px;
    border: 3px solid #3882F6;
}

.content-data {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 3%;
}

.quoteContent {
    background-color: #E5E7EB;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 20%;
    padding-right: 20%;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}